table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table th{
    background-color: #68717a;
    font-weight: bold;
    color: #ffffff;
}

table td{
    color: #ffffff;
}